In [8]:
import pandas as pd
import numpy as np

In [2]:
country_features_df = pd.read_csv("country_features_2018.csv")

In [3]:
country_features_df

,name,avg_wins,avg_draws,avg_gd,avg_age,avg_gpa,avg_apa,avg_ycpa,total_minutes
0,Russia,0.0,0.4,-1.2,0.000000,0.000000,0.000000,0.000000,0.0
1,Uruguay,0.6,0.2,1.0,27.000000,0.155373,0.083902,0.111771,16932.0
2,Egypt,0.0,0.4,-1.0,28.000000,0.063885,0.046497,0.114935,21868.0
3,Saudi Arabia,0.4,0.0,-0.2,0.000000,0.000000,0.000000,0.000000,0.0
4,Spain,0.4,0.6,1.2,0.000000,0.000000,0.000000,0.000000,0.0
5,Portugal,0.4,0.4,0.2,27.333333,0.074083,0.129088,0.087366,30089.0
6,Iran,0.6,0.0,0.2,29.000000,0.133929,0.065247,0.129121,4549.0
7,Morocco,0.8,0.2,1.2,27.166667,0.101380,0.078912,0.069677,11938.0
8,France,0.6,0.2,1.0,24.250000,0.107216,0.079808,0.061149,17209.0
9,Denmark,0.4,0.4,0.4,25.333333,0.101692,0.112989,0.057718,12722.0
10,Australia,0.6,0.2,0.8,0.000000,0.000000,0.000000,0.000000,0.0
11,Peru,0.8,0.2,1.8,29.000000,0.075670,0.073740,0.131298,31795.0
12,Croatia,0.4,0.2,-0.4,28.250000,0.122674,0.079791,0.118846,28973.0
13,Nigeria,0.2,0.2,-0.6,24.500000,0.122973,0.048611,0.060473,6410.0
14,Iceland,0.2,0.2,-0.6,0.000000,0.000000,0.000000,0.000000,0.0
15,Argentina,0.6,0.0,0.0,29.500000,0.096890,0.073549,0.149116,38975.0
16,Brazil,0.8,0.2,1.8,28.285714,0.183033,0.135793,0.112376,24036.0
17,Switzerland,0.6,0.4,1.8,0.000000,0.000000,0.000000,0.000000,0.0
18,Serbia,0.4,0.2,0.8,27.666667,0.040556,0.053987,0.156155,16757.0
19,Costa Rica,0.4,0.0,-0.4,28.428571,0.083375,0.037646,0.162219,32489.0
20,Mexico,0.4,0.2,0.2,0.000000,0.000000,0.000000,0.000000,0.0
21,Germany,0.2,0.4,-0.2,26.500000,0.162741,0.181738,0.077045,32052.0
22,Sweden,0.2,0.4,-0.2,28.250000,0.084396,0.117731,0.096888,24597.0
23,South Korea,0.2,0.2,-0.6,0.000000,0.000000,0.000000,0.000000,0.0
24,Belgium,0.8,0.2,2.2,27.428571,0.113604,0.165234,0.070977,32482.0
25,England,0.6,0.4,0.8,26.857143,0.056122,0.192655,0.066580,12472.0
26,Panama,0.2,0.2,-1.4,0.000000,0.000000,0.000000,0.000000,0.0
27,Tunisia,0.4,0.4,0.2,25.714286,0.098889,0.059202,0.065685,12536.0
28,Japan,0.2,0.2,-0.6,0.000000,0.000000,0.000000,0.000000,0.0
29,Senegal,0.2,0.6,0.2,0.000000,0.000000,0.000000,0.000000,0.0
30,Poland,0.4,0.2,0.6,28.857143,0.122883,0.190847,0.067327,22844.0
31,Colombia,0.4,0.4,0.8,27.181818,0.172363,0.076749,0.136069,26204.0

In [9]:
def get_score(team1, team2, country_feature_df,est):
    team1_feats = country_feature_df[country_feature_df.name == team1].drop("name",axis=1).values.tolist()[0]
    team2_feats = country_feature_df[country_feature_df.name == team2].drop("name",axis=1).values.tolist()[0]
    score1 = est.predict(np.array(team1_feats+team2_feats).reshape(1, -1))
    score2 = est.predict(np.array(team2_feats+team1_feats).reshape(1, -1))
#     print(team1+"_wins",team2+"_wins","draw")
#     print(proba)
    return score1,score2

In [10]:
from sklearn.externals import joblib

est = joblib.load('../02 Individual Match Prediction/score_prediction.pkl')

In [11]:
get_score("Brazil","Belgium", country_features_df, est)

(array([ 0.90240701]), array([ 0.86127912]))

In [17]:
get_score("Peru","Portugal", country_features_df, est)

(array([ 1.45680062]), array([ 0.94021009]))