In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("espn_data_230618_part1.csv")

In [7]:
df.shape

(320, 29)

In [5]:
df2 = pd.read_csv("espn_data_230618_part2.csv")

In [8]:
df2.shape

(262, 29)

In [9]:
df.head()

,Date,Team1,Team1_score,Team2,Team2_score,team1_fouls,team2_fouls,team1_yellow_cards,team2_yellow_cards,team1_red_cards,...,team1_shots,team2_shots,team1_avg_wins,team1_avg_draws,team1_avg_gd,team2_avg_wins,team2_avg_draws,team2_avg_gd,team1_lineup,team2_lineup
0,20140612,Brazil,3,Croatia,1,5,21,2,2,0,...,14 (9),10 (4),0.6,0.4,1.4,0.8,0.2,2.0,12 Júlio César_4 David Luiz_3 Thiago Silva_6 M...,1 Stipe Pletikosa_6 Dejan Lovren _5 Vedran Co...
1,20140613,Mexico,1,Cameroon,0,11,12,1,1,0,...,9 (5),10 (4),0.6,0.4,1.4,0.8,0.2,2.0,13 Guillermo Ochoa_4 Rafael Márquez_15 Héctor ...,16 Charles Itandje_14 Aurélien Chedjou_3 Nicol...
2,20140613,Spain,1,Netherlands,5,5,18,1,3,0,...,9 (6),13 (11),0.6,0.4,1.4,0.8,0.2,2.0,1 Iker Casillas _15 Sergio Ramos_3 Gerard Piq...,1 Jasper Cillessen_2 Ron Vlaar_4 Bruno Martins...
3,20140613,Chile,3,Australia,1,9,18,1,3,0,...,11 (9),13 (6),0.6,0.4,1.4,0.8,0.2,2.0,1 Claudio Bravo_18 Gonzalo Jara_17 Gary Medel_...,1 Mathew Ryan_6 Matthew Spiranovic_22 Alex Wil...
4,20140614,Colombia,3,Greece,0,19,14,1,2,0,...,12 (8),12 (7),0.6,0.4,1.4,0.8,0.2,2.0,1 David Ospina_3 Mario Yepes_2 Cristián Zapata...,1 Orestis Karnezis_19 Sokratis Papastathopoulo...

In [16]:
df[df.Team1 == "Argentina"].team1_lineup.values[0]

'1 Sergio Romero_17 Federico Fernández_2 Ezequiel Garay_3 Hugo Campagnaro_16 Marcos Rojo  _4 Pablo Zabaleta_14 Javier Mascherano_7 Ángel Di María_11 Maxi Rodríguez_20 Sergio Agüero_10 Lionel Messi  '

## Feature Engineering

### Player stats

First, process each row and get full list of players to search for.

In [21]:
team_lineup = df.team1_lineup.values[0]

In [31]:
team_lineup.split("_")[0]

'12 Júlio César'

In [24]:
from string import digits

In [29]:
remove_digits = str.maketrans('', '', digits)

In [80]:
df2[df2.Team1 == "Switzerland"]

,Date,Team1,Team1_score,Team2,Team2_score,team1_fouls,team2_fouls,team1_yellow_cards,team2_yellow_cards,team1_red_cards,...,team1_shots,team2_shots,team1_avg_wins,team1_avg_draws,team1_avg_gd,team2_avg_wins,team2_avg_draws,team2_avg_gd,team1_lineup,team2_lineup
85,19940626,Switzerland,0,Colombia,2,0,0,2,3,0,...,0 (0),0 (0),0.6,0.4,1.4,0.8,0.2,2.0,-- Marco Pascolo_-- Alain Geiger_-- Dominique ...,-- Oscar Córdoba_-- Andrés Escobar_-- Luis Her...

In [71]:
team_string = df2[df2.Team1 == "Brazil"].team1_lineup.values[0]

In [72]:
def get_players_from_team_string(team_string):
    return list(map(lambda x: x.translate(remove_digits).replace("  ","").replace("--","").replace("\n","")[1:], team_string.split("_")))

In [73]:
get_players_from_team_string(team_string)

['Taffarel',
 'Roberto Carlos',
 'Cafu',
 'Santos Aldair',
 'Junior Baiano',
 'Dunga',
 'Carlos Cesar Sampaio ',
 'Rivaldo',
 'Ronaldo',
 'José Oliveira Bebeto',
 'Silva Giovanni']

In [79]:
df.Team1

0             Brazil
1             Mexico
2              Spain
3              Chile
4           Colombia
5            Uruguay
6            England
7        Ivory Coast
8        Switzerland
9             France
10         Argentina
11           Germany
12              Iran
13             Ghana
14           Belgium
15            Brazil
16            Russia
17         Australia
18             Spain
19          Cameroon
20          Colombia
21           Uruguay
22             Japan
23             Italy
24       Switzerland
25          Honduras
26         Argentina
27           Germany
28           Nigeria
29           Belgium
           ...
290            Italy
291         Scotland
292           France
293          Nigeria
294     South Africa
295            Spain
296          Belgium
297          Germany
298      Netherlands
299    United States
300        Argentina
301         Colombia
302            Japan
303          Romania
304           Brazil
305            Italy
306           France
307          Nigeria
308          Germany
309      Netherlands
310        Argentina
311          Romania
312           Brazil
313            Italy
314          Germany
315      Netherlands
316           Brazil
317           France
318      Netherlands
319           Brazil
Name: Team1, Length: 320, dtype: object

Need to scrape data from https://www.transfermarkt.co.uk/